html,
body{
    height: 100%;
}



.container {
    max-width: 330px;
    padding: 1rem;
   
}

.container .form-floating:focus-within{
    z-index: 2;
}

.container input[type="email"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.container input[type="password"]{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}